@charset "utf-8";

/*백그라운드 컬러*/
* {
    background-color: #343840;
}

.main{
    position: relative;
    width: 50%;
}

.weather {
    width: 200px;
    background-color: aqua;
    border:2px solid #1bf;
    padding:0.5em;
    line-height: 1em;
    border-radius:0.5em;
}
/*.main:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}*/
